*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

/* --------------- Global --------------- */



/* --------------- Utilities --------------- */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 800px;
    width: 100%;
}
section{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin: 25px 0;
    padding: 30px;
}
hr{
    border: 1px solid #d3d3d3;
}




/* ----------------------------------------------
    Top Players
---------------------------------------------- */
.top-players{
    margin-bottom: 15px;
}
.top-players .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.top-players .players .player{
    display: flex;
    align-items: center;
}
.top-players .players .player img{
    max-width: 50px;
    width: 100%;
    margin-right: 12px;
}
.top-players .players .player p{
    font-size: 20px;
}
/* -------------------------------------------xxx
    Top Players
xxx------------------------------------------- */




/* ----------------------------------------------
    Top Blogs
---------------------------------------------- */
.top-blogs{
    margin-top: 20px;
}
.top-blogs .blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
}
.top-blogs .blogs .blog{
    display: flex;
}
.top-blogs .blogs .blog .thumbnail img{
    width: 150px;
}
.top-blogs .blogs .blog .blog-details{
    margin-left: 15px;
}
.top-blogs .blogs .blog .blog-details .blog-title{
    font-size: 22px;
    font-weight: 400;
}
.top-blogs .blogs .blog .blog-details span{
    font-size: 16px;
    color: #b1b1b1;
}
.top-blogs .blogs .blog .blog-details span a{
    text-decoration: none;
    color: blueviolet;
}
/* -------------------------------------------xxx
    Top Blogs
xxx------------------------------------------- */




/* ----------------------------------------------
    Lates Course
---------------------------------------------- */
.latest-courses{

}
.latest-courses .courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.latest-courses .courses .course{
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 7px;
}
.latest-courses .courses .course img{
    max-width: 100%;
}
.latest-courses .courses .course .course-title{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0;
}
.latest-courses .courses .course p{
    color: #d62a38;
    margin-bottom: 15px;
}
.latest-courses .courses .course .meta{
    display: flex;
    justify-content: space-between;
}
.latest-courses .courses .course .meta .rating .filled{
    color: #eeaa19;
}
.latest-courses .courses .course .meta .rating .unfilled{
    color: #c0c0c0;
}
.latest-courses .courses .course .meta .rating span{
    color: #525252;
}
.latest-courses .courses .course .meta .duration{
    border-radius: 12px;
    padding: 3px 12px;
    background: rgba(231, 102, 113, 0.4);
    font-size: 12px;
    color: #d62a38;
}
/* -------------------------------------------xxx
    Lates Course
xxx------------------------------------------- */



/* -------------------------------------------
 Tablet Devices
------------------------------------------- */
@media only screen and (max-width:991px) {
    .container {
        max-width: 95%;
    }
    .top-players .players, .latest-courses .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    
}



/* -------------------------------------------
 Mobile Devices
------------------------------------------- */
@media only screen and (max-width:688px) {
    .top-players .players, .latest-courses .courses, .top-blogs .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-players .players .player {
        justify-content: center;
    }
}